<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


    <div th:fragment="carousel" class="container-fluid">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel-hide my-carousel-overflow carousel slide" data-ride="carousel"  data-interval="15000">
                <ol class="carousel-indicators my-indicator">
                    <li class="active carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li class="carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li class="carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li class="carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li class="carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li class="carousel-indicator-size my-indicator" data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active my-carousel-overflow" >
                        <img class="carousel-image d-block" src="/images/carousel/Slide1.png" alt="First slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">A microservice to re-arrange data</p>
                            <p class="carousel-text-small">to a schema of choice, while adhering to Apache AVRO library rules</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-overflow">
                        <img class="carousel-image d-block" src="/images/carousel/Slide2.png" alt="Third slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">Convert data</p>
                            <p class="carousel-text-small">with added scenarios previously not handled by AVRO</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-overflow">
                        <img class="carousel-image d-block" src="/images/carousel/Slide3.png" alt="Second slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">Integrate</p>
                            <p class="carousel-text-small">with API or SSH coming soon</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-overflow">
                        <img class="carousel-image d-block" src="/images/carousel/Slide4.png" alt="Third slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">Rearrange field order</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-overflow">
                        <img class="carousel-image d-block" src="/images/carousel/Slide5.png" alt="Third slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">Rename fields without alias</p>
                        </div>
                    </div>
                    <div class="carousel-item my-carousel-overflow">
                        <img class="carousel-image d-block" src="/images/carousel/Slide6.png" alt="Third slide">
                        <div class="my-carousel-caption d-none d-md-block">
                            <p class="carousel-text-large">Rename fields with alias</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</body>
</html>