<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">

    <div class="container" id="footerDiv">
        <div class="row empty-50-row"></div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"><a href="https://www.linkedin.com/in/ali-abdelbadie/"><img class="footer-image" src="/images/Linkedin_Icon.gif"></a></div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
        </div>
        <div class="row empty-20-row"></div>
        <div class="row">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-xl-5 col-lg-5 col-md-7 col-sm-7 col-xs-7">
                <p class="footer-text">AliAbdelbadie@gmail.com</p>
                <p class="footer-text">+1(613)700-2089</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-xs-4"></div>
        </div>
    </div>
</footer>
</body>
</html>