<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script>
function refresh() {
  window.history.back()
}
</script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>


    <title>Schema Evolver | Form</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row empty-50-row"></div>

    <div class="hidden" id="loadingToggle">






            <div class="row empty-100-row"></div>



            <p class="text-center">Running the conversion...</p>

            <div class="row empty-10-row"></div>

            <div class="center-button">
                <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
            </div>

            <div class="row empty-25-row"></div>

            <div class="center-button">

                    <button onclick="refresh()" id="cancelButton" class="btn btn-danger">Cancel</button>

            </div>

            <div class="row empty-100-row"></div>







    </div>
    <form action="#" th:action="@{/conversion}"  onsubmit="return validateForm()" method="post" th:object="${scm}" id="form1" enctype="multipart/form-data">

    <div id="formToggle">

        <div class="row empty-10-row"></div>

        <p class="paragraph-text">Please provide fields for data conversion</p>

        <div class="row empty-10-row"></div>


        <div class="row carousel-background">
        <div class="container">


                <div class="row empty-50-row"></div>

                <div class="form-group">
                    <label for="oldJsonText">Old json records (separated by ';;;' or in separate files):</label>
                    <div class="container">
                        <textarea th:field="*{oldJsonText}"   form="form1"  id="oldJsonText" placeholder="old json records"></textarea>
                        <input th:field="*{oldJsonFiles}" type="file" class="form-control-file file-col-width" id="oldJsonFiles" multiple placeholder="old json records">
                    </div>

                </div>


                <div class="row empty-50-row"></div>

                <div class="form-group">
                    <label for="oldSchemaText">Old avro schema:</label>
                    <div class="container">
                        <textarea th:field="*{oldSchemaText}"  form="form1"  id="oldSchemaText" placeholder="old avro schema"></textarea>
                        <input th:field="*{oldSchemaFile}"  type="file" class="form-control-file file-col-width" id="oldSchemaFiles" placeholder="old avro schema">
                    </div>

                </div>


                <div class="row empty-50-row"></div>

                <div class="form-group">
                    <label for="newSchemaText">New avro schema:</label>
                    <div class="container">
                        <textarea th:field="*{newSchemaText}"  form="form1"  id="newSchemaText" placeholder="new avro schema"></textarea>
                        <input th:field="*{newSchemaFile}"  type="file" class="form-control-file file-col-width" id="newSchemaFiles" placeholder="new avro schema">
                    </div>

                </div>


                <div class="row empty-50-row"></div>

                <div class="form-group">
                    <label for="renamedFieldsText">Renamed avro fields that may not have alias (optional):</label>
                    <p>    list format: latestName=oldName, seperated with ';'</p>
                    <div class="container">
                        <textarea th:field="*{renamedText}"   form="form1"  id="renamedFieldsText" placeholder="renamed schema fields"></textarea>
                        <input th:field="*{renamedFile}"  type="file" class="form-control-file file-col-width" id="renamedFieldsFile" placeholder="renamed schema fields">
                    </div>

                </div>

                <div class="row empty-50-row"></div>

            <div class="form-group">
                <label for="formatSelect">File download format:</label>
                <select th:field="*{downloadFormat}" id="formatSelect">
                    <option value="json">json</option>
                    <option value="avro">avro</option>
                    <option value="json-avro">json & avro</option>
                </select>
            </div>

            <div class="row empty-50-row"></div>


        </div>


    </div>

    <div class="row empty-25-row"></div>

    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>
        <button type="submit" form="form1" class="button-height col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4 text-center btn btn-primary">Start conversion</button>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>
    </div>


    </div>







    </form>




    <div class="row empty-50-row"></div>

</div>


<div th:replace="fragments/footer :: footer"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="/js/validation.js"></script>
<script src="/js/main.js"></script>

</body>
</html>