<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>


    <title>Schema Evolver | Form</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">


    <div class="hidden" id="loadingToggle">


            <div class="row empty-100-row"></div>



            <h3 class="text-center">Running the conversion...</h3>

            <div class="row empty-25-row"></div>

            <div class="center-button">
                <div class="single-spinner spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="row empty-50-row"></div>

            <div class="container">
            <div class="row">

                <div class="col-xl-5 col-lg-5 col-md-3 col-sm-1 col-xs-1"></div>
                <button onclick="refresh()" id="cancelButton" class="single-button col-xl-2 col-lg-2 col-md-6 col-sm-10 col-xs-10 text-center btn btn-danger btn-block">Cancel</button>
                <div class="col-xl-5 col-lg-5 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
            </div>

            <div class="row empty-100-row"></div>





    </div>

<div id="formToggle">


    <div>

        <div class="row empty-50-row"></div>
        <div class="container">
            <h2>Please provide fields for data conversion</h2>
        </div>
        <div class="row empty-5-row"></div>
    </div>

    <div id="backgroundToggle" class="form-background">

            <div class="row empty-25-row"></div>
            <form class="text-center container" th:action="@{/download/} + 'demo'" method="get" id="downloadForm">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 demo-background">

                        <div class="row empty-10-row"></div>
                        <div class="row">
                            <p class="paragraph-text">Demo Files</p>
                        </div>
                        <div class="row empty-10-row"></div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                                <button class="download-button btn btn-secondary" type="submit" form="downloadForm" value="Submit">Download</button>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-3"></div>
                        </div>
                        <div class="row empty-10-row"></div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3 col-xs-3"></div>
                </div>
            </form>




        <form action="#" th:action="@{/conversion}"  onsubmit="return validateForm()" method="post" th:object="${formModel}" id="form1" enctype="multipart/form-data">
            <div class="container">

            <div class="row empty-25-row"></div>

            <div class="form-group">
                <label class="paragraph-text" for="oldJsonText">Old json records (separated by ';;;' or in separate files):</label>
                <div class="container">
                    <div class="row">
                        <textarea spellcheck="false" th:field="*{oldJsonText}"   form="form1"  id="oldJsonText" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 input-text" placeholder="old json records"></textarea>
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                    <div class="row empty-5-row"></div>
                    <div class="row">

                        <input th:field="*{oldJsonFiles}" type="file" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control-file" id="oldJsonFiles" multiple placeholder="old json records">
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                </div>

            </div>


            <div class="row empty-25-row"></div>

            <div class="form-group">
                <label class="paragraph-text" for="oldSchemaText">Old avsc schema:</label>
                <div class="container">
                    <div class="row">

                        <textarea spellcheck="false" th:field="*{oldSchemaText}"   form="form1"  id="oldSchemaText" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 input-text" placeholder="old avsc schema"></textarea>
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                    <div class="row empty-5-row"></div>
                    <div class="row">

                        <input th:field="*{oldSchemaFile}" type="file" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control-file" id="oldSchemaFile" placeholder="old avsc schema">
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                </div>

            </div>


            <div class="row empty-25-row"></div>

            <div class="form-group">
                <label class="paragraph-text" for="newSchemaText">New avsc schema:</label>
                <div class="container">
                    <div class="row">

                        <textarea spellcheck="false" th:field="*{newSchemaText}"   form="form1"  id="newSchemaText" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 input-text" placeholder="new avsc schema"></textarea>
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                    <div class="row empty-5-row"></div>
                    <div class="row">

                        <input th:field="*{newSchemaFile}" type="file" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control-file" id="newSchemaFile" placeholder="new avsc schema">
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                </div>

            </div>



            <div class="row empty-25-row"></div>

            <div class="form-group">
                <label class="paragraph-text" for="renamedText">Renamed avro fields that may not have alias (optional):</label>
                <p>list format: newName=oldName, seperated with ';'</p>
                <div class="container">
                    <div class="row">
                        <textarea spellcheck="false" th:field="*{renamedText}"   form="form1"  id="renamedText" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 input-text" placeholder="renamed fields"></textarea>
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                    <div class="row empty-5-row"></div>
                    <div class="row">

                        <input th:field="*{renamedFile}" type="file" class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 form-control-file" id="renamedFile" placeholder="renamed fields">
                        <div class="col-xl-2 col-lg-2 col-md-2"></div>
                    </div>
                </div>

            </div>


            <div class="row empty-25-row"></div>

            <div class="form-group">
                <label class="paragraph-text" for="formatSelect">File download format:</label>
                <div class="container">
                    <div class="row">
                        <select th:field="*{downloadFormat}" id="formatSelect" class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 input-text">
                            <option class="input-text" value="json">json</option>
                            <option class="input-text" value="avro">avro</option>
                            <option class="input-text" value="json-avro">json & avro</option>
                        </select>
                        <div class="col-xl-8 col-lg-8 col-md-8"></div>
                    </div>
                </div>
            </div>

            <div class="row empty-25-row"></div>
            </div>
        </form>

    </div>

        <div class="row empty-50-row"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-3 col-sm-1 col-xs-1"></div>
                <button onclick="window.scrollTo(0,0)" type="submit" form="form1" class="single-button col-xl-2 col-lg-2 col-md-6 col-sm-10 col-xs-10 text-center btn btn-primary btn-block">Start conversion</button>

                <div class="col-xl-5 col-lg-5 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
        </div>

    <div class="row empty-75-row"></div>
</div>
</div>








</div>


<div th:replace="fragments/footer :: footer"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="/js/validation.js"></script>
<script src="/js/main.js"></script>

</body>
</html>