<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>


    <title>Schema Converter | Rearrange Data the Way You Need to</title>
</head>
<body>

<header>
    <nav class="empty-100-row navBar"></nav>
</header>

<div class="container">

<div class="empty-75-row"></div>
    <h3 class="text-center subtitle-text">Ali Abdelbadie presents:</h3>
    <div class="row empty-20-row"></div>
    <h1 class="text-center">Schema Converter</h1>
<div class="empty-50-row"></div>

<div class="row carousel-background">
<div class="container">


    <div class="row empty-50-row"></div>

    <div th:replace="fragments/carousel :: carousel"></div>

    <div class="row empty-50-row"></div>

</div>
</div>

<div class="container">
    <div class="row empty-50-row"></div>
    <div class="row">
        <div class="col-xl-2"></div>
            <form action="/form" method="get" id="loginForm" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" form="loginForm" value="Submit" class="btn-text btn btn-outline-primary btn-block"> Login </button>
            </form>
            <form action="/" method="get" id="signupForm" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!--            <button type="button" class="btn-text btn btn-outline-primary btn-block">sign up</button>-->
                <button type="submit" form="signupForm" value="Submit" class="btn-text btn btn-outline-primary btn-block">Sign Up</button>
            </form>

        <div class="col-xl-2"></div>
    </div>

    <div class="row empty-20-row"></div>
    <div class="row"><div class="btn-text col text-center hyperlink-text">

    <form id="my_form" method="get" action="/form">
        <!-- Your Form -->
        <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Continue as guest</a>
    </form>
    </div>
    </div>



    <div class="row empty-50-row"></div>
</div>

</div>

<div th:replace="fragments/footer :: footer"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>