<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <!-- <link type="text/css" rel="stylesheet" href="/css/style.css"/> -->


    <title>Schema Evolver | Login</title>
</head>
<body>

<header>
    <nav class="empty-100-row navBar">
        <div class="container">
            <div class="row empty-40-row"></div>
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <p class="header-title">Schema Evolver</p>
                </div>

                <div class="col-xl-7 col-lg-6 col-md-6"></div>

            </div>

            <div class="row empty-15-row"></div>

        </div>


    </nav></header>

<div class="container">
    <div class="row empty-75-row"></div>

    <h3  class="text-center">Log In to Schema Evolver</h3>
    <div class="row empty-50-row"></div>

    <div class="container">
        <div class="row">

            

            
            <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="form-background col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 container text-center">


                        <div class="row empty-20-row"></div>

                        <h2>Sign-In Partners</h2>
                        <div class="row empty-20-row"></div>
                        <div class="row center-button">
                            <a href="oauth2/authorization/google"><img class="google-image" src="/images/google.png"></a>
                        </div>
                        <div class="row empty-40-row"></div>
                        <div class="row center-button">
                            <a href="oauth2/authorization/github"><img class="github-image" src="/images/GitHub-Mark-120px-plus.png"></a>
                        </div>
                        <div class="row empty-40-row"></div>
                        <div class="row center-button">
                            <a href="oauth2/authorization/linkedin"><img class="linkedin-image" src="/images/LI-In-Bug.png"></a>
                        </div>
                        <div class="row empty-20-row"></div>

                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-2"></div>
                </div>
            </div>










            
            <div class="container col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <form th:action="@{/login}" method="post">

                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 container">
                            <div class="row empty-75-row"></div>
                            <p th:text="${errorMessage}" style="color:#FF0000";>Error logging in</p>
                            <p class="paragraph-text">username or email</p>
                            <input type="text" id="username" name="username" autofocus="autofocus" /> <br/>
                            <div class="row empty-25-row"></div>
                            <p class="paragraph-text">password</p>
                            <input type="password" id="password" name="password"/> <br/>
                            <div class="row empty-40-row"></div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

                    </div>



                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8 container">
                            <div class="container">
                                <div class="row">
                                    <input class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 btn-block btn btn-primary" type="submit" value="Log In" />
                                    <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-xs-2">                                <div class="row empty-10-row"></div>
                                </div>
                                    <a class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-xs-5 btn-block btn btn-primary" href="">Sign Up</a>
                                    <div class="col-xl-3 col-lg-3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    </div>

                </form>
            </div>





























        

        </div>
        <div class="row empty-50-row"></div>

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-1 col-sm-1 col-xs-1"></div>
            <button class="single-button col-xl-2 col-lg-2 col-md-10 col-sm-10 col-xs-10 text-center btn btn-info" href="/">Cancel</button>
            <div class="col-xl-5 col-lg-5 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

        <div class="row empty-75-row"></div>
    </div>    
</div>

<div th:replace="fragments/footer :: footer"></div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>