<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/style.css"/>


    <title>Schema Evolver | Sign Up</title>
</head>
<body>

<div th:replace="fragments/headerBeforeLogin :: header"></div>

<div class="container">


<div>


    <div class="row empty-75-row"></div>

    <h3  class="text-center">Sign Up</h3>
    <div class="row empty-50-row"></div>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-xs-8 form-background">

                <form action="#" th:action="@{/signup-submission}" method="post" id="form1">
                    <div class="container">

                        <div class="row empty-50-row"></div>
                        <p th:text="${usernameMessage}" class="errorText">Invalid Username</p>
                        <label class="paragraph-text" for="username">Username</label><br/>
                        <input type="text" id="username" name="username" th:value="${username}"/><br/>

                        <div class="row empty-50-row"></div>
                        <p th:text="${emailMessage}" class="errorText">Invalid Email Address</p>
                        <label class="paragraph-text" for="password">Email Address</label><br/>
                        <input type="email" id="email" name="email" th:value="${email}"/><br/>

                        <div class="row empty-50-row"></div>
                        <ul th:unless="${#lists.isEmpty(passwordMessages)}" class="errorText">
                            <li th:each="passwordMessage : ${passwordMessages}" th:text="${passwordMessage}" class="errorText">Invalid Password</li>
                        </ul>

                        <label class="paragraph-text" for="password">Password</label><br/>
                        <input type="password" id="password" name="password"/><br/>

                        <div class="row empty-50-row"></div>
                        <p th:text="${retypePasswordMessage}" class="errorText">Invalid Password</p>
                        <label class="paragraph-text" for="retype-password">Re-type Password</label><br/>
                        <input type="password" id="retype-password" name="retypePassword"/><br/>

                        <div class="row empty-50-row"></div>
                        <div class="row">
                            <div class="col-xl-1 col-lg-1 col-md-1"></div>
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <input class="btn-block btn btn-primary" type="submit" value="Submit" />
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1"></div>
                        </div>
                        <div class="row empty-25-row"></div>

                    </div>
                </form>


            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
        </div>

        <div class="row empty-50-row"></div>
        <form th:action="@{/login}" method="get" id="loginForm">

            <div class="row">

                <div class="col-xl-5 col-lg-5 col-md-1 col-sm-1 col-xs-1"></div>
                <button  type="submit"  class="single-button col-xl-2 col-lg-2 col-md-10 col-sm-10 col-xs-10 text-center btn btn-info btn-block">Cancel</button>
                <div class="col-xl-5 col-lg-5 col-md-1 col-sm-1 col-xs-1"></div>
            </div>

        </form>
    </div>
    <div class="row empty-75-row"></div>



</div>


</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="/js/validation.js"></script>
<script src="/js/main.js"></script>

</body>
</html>